.wp-block-dr-slider {
	display: grid;
	grid-gap: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 10px;
	background-color: #1d73aa42;
	border: 4px dotted #1d73aa;

	&__title {
		font-size: 40px;
		font-weight: bold;
		color: var(--sgb-accent, #F1413D);
		margin: 0;
		input[type="text"] {
			border: 0 !important;
			box-shadow: none !important;
			outline: 0 !important;
			text-align: inherit;
			appearance: textfield;
			font-size: inherit;
			background-color: transparent;
			padding: 0;

			&::-webkit-inner-spin-button,
			&::-webkit-outer-spin-button {
				appearance: none;
				margin: 0;
			}
		}
	}

	&__slide {
		position: relative;
		background: #F6F6F6;
		padding: 50px 25px;
		background-size: cover;
		box-shadow: inset 0 0 0 2000px rgba(238, 238, 238, 0.80);
	}

	&__add {
		.dashicon {
			transform: translateY(5px);
		}
	}

	&__remove {
		position: absolute;
		right: 0;
		top: 0;
	}

	.is-selected {
		outline: 4px solid #0085ba;
		outline-offset: -4px;
	}

	+ .blocks-gallery-item {
		text-align: right;
		button {
			display: inline-flex;
		}
	}

	p {
		margin: 0;
	}

	&__footer {
		margin-top: 20px;
	}

	.wp-block-button {
		margin: 8px;
	}

	.buttons {
		margin: -8px;
	}
}
